body {
  margin: auto;
  width: 1440px;
  height: 696px;
}

ul,
li {
  list-style: none;
}

.gallery-image {
  width: 360px;
  height: 200px;
}

.gallery-image:hover,
.gallery-image:focus {
  scale: 1.04;
  transition-duration: 1000ms;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  background-color: teal;
  padding: 24px 156px;
}